[Unit]
Description=Main Flow Service for Self Driving Wheelchair
After=network.target

[Service]
User=lavabrothers
Group=lavabrothers
WorkingDirectory=_REPO_ROOT_/pi-code
ExecStart=_REPO_ROOT_/pi-code/.venv/bin/python3 _REPO_ROOT_/pi-code/main_flow.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mainflow
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="PYTHONPATH=_REPO_ROOT_/pi-code/.venv/lib/python3.9/site-packages:_REPO_ROOT_/pi-code"

[Install]
WantedBy=multi-user.target
